




<div class="un_container">
    <div class="caption">
        <h1>
            <span>Unlock</span>
            Ambitions
        </h1>
        <p> Apply to a plethora of hiring opportunities & work with your dream companies! </p>

        <div class="explore">
            <button>Find Jobs</button>
            <button>Post Jobs</button>
        </div>
    </div>

    <div class="img">
        <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/66a3829b1d2da_jobs_internships.png?d=996x803" alt="" width="690" height="551" loading="lazy">
    </div>
</div>

<section class="top-companies">
    <div class="sect-container">
        <div class="hired">
            <h2>Get Hired In
                <span class="dream">Dream Companies</span>
            </h2>
        </div> -->

        <!-- <div class="moving-container">
            
                <div class="company-logo logo1"><img src="https://d8it4huxumps7.cloudfront.net/uploads/images/d2c-product/flipkart.png?d=195x70" alt=""></div>
                <div class="company-logo logo2"><img src="https://d8it4huxumps7.cloudfront.net/images/partners/partners125/5d130645eec88_uber.jpg?d=120x120" alt=""></div>
                <div class="company-logo logo3"><img src="https://d8it4huxumps7.cloudfront.net/uploads/images/150x150/63b60e1cd2b56_blinkit_logo.png?d=110x110" alt=""></div>
                <div class="company-logo logo4"><img src="https://d8it4huxumps7.cloudfront.net/uploads/images/150x150/618d1448c8f84_microsoft_logo.png?d=110x110" alt=""></div>
                <div class="company-logo logo5"><img src="https://d8it4huxumps7.cloudfront.net/uploads/images/150x150/62ebca02a52e3_tesla_logo_1.png?d=110x110" alt=""></div>
                <div class="company-logo logo6"><img src="https://d8it4huxumps7.cloudfront.net/images/partners/partners125/629f553c5dea8_CRED-LOGO2.png?d=120x120" alt=""></div>
                <div class="company-logo logo7"><img src="https://d8it4huxumps7.cloudfront.net/images/partners/partners125/5cfd95965a8ae_1920px-IBM_logo.svg.png?d=120x120" alt=""></div>
        </div> -->
        <div class="moving-container">
            <div class="company-logo logo1"></div>
            <div class="company-logo logo2"></div>
            <div class="company-logo logo3"></div>
            <div class="company-logo logo4"></div>
            <div class="company-logo logo5"></div>
            <div class="company-logo logo6"></div>
        </div>
    </div>
</section>

<div class="container-fluid body-background">
    <div class="header">
        <h1>Find your dream job now</h1>
        <div>5 lakh+ jobs for you to explore</div>
    </div>
    <div class="Wrapper ">
        <div>
            <div class="logoContainer">
                <img src="https://static.naukimg.com/s/7/103/i/search.9ec0e1ac.svg" id="searchIcon">
                <input type="text" placeholder="Enter Skills / designations / companies" class="sugginput"
                    id="input1">
                <div class="pipe1"></div>
                <input type="text" placeholder="Enter location" class="sugginput" id="input2">
                <div class="pipe1"></div>
                <select id="input3" class="sugginput">
                    <option value="" hidden="">Select Experience</option>
                    <!-- Available Options -->
                    <option value="1">Freshers</option>
                    <option value="2">1 year</option>
                    <option value="3">2 years</option>
                    <option value="4">3 years</option>
                    <option value="5">4 years</option>
                    <option value="6">5 years</option>

                </select>

                <input type="button" routerLink="/jobs" class="search" value="Search">
            </div>
        </div>
    </div>
    <div id="Slidhsow-container">
        <h4 id="trendHead">Trending on Workify today</h4>
        <div id="main-slider">
            <!-- --left arrow  -->
           
            <div class="slide" id="c1" onclick="window.open('https://www.youtube.com/','mywindow');"
                style="cursor: pointer; display: inline-block;">
                <div class="images">
                    <img src="https://static.naukimg.com/s/0/0/i/trending-naukri/remote.svg">
                </div>
                <div class="text">
                    <h6>Remote </h6>
                    <p>5.3k + jobs</p>
                </div>
            </div>
            <div class="slide" id="c2" onclick="window.open('https://www.youtube.com/','mywindow');"
                style="cursor: pointer; display: inline-block;">
                <div class="images">
                    <img src="https://static.naukimg.com/s/0/0/i/trending-naukri/mnc.svg">
                </div>
                <div class="text">
                    <h6>MNC</h6>
                    <p>19.3k+ jobs</p>
                </div>
            </div>

            <div class="slide" id="c3" onclick="window.open('https://www.youtube.com/','mywindow');"
                style="cursor: pointer; display: inline-block;">
                <div class="images">
                    <img src="https://static.naukimg.com/s/0/0/i/trending-naukri/engineering.svg">
                </div>
                <div class="text">
                    <h6>Engineering</h6>
                    <p>16.3k +jobs</p>
                </div>
            </div> 
        </div>
        <h4 style="text-align: center;">Featured companies actively hiring</h4>

        <!-- ---2nd Slider - -->
        <div id="main-slider">
            <!-- --left arrow   -->
           
            <div class="slide" id="d1" style="cursor: pointer; display: inline-block;">
                <div class="images">
                    <img src="https://img.naukimg.com/logo_images/groups/v2/226728.gif">
                </div>
                <div class="text">
                    <h6>L&amp;T Infotech (LTI) </h6>
                    <p>3.4 reviews</p>
                </div>
                <!-- <a href="http://example.com">
                    <span class="linkSpanner"></span>
                </a> -->
            </div>
            <div class="slide " id="d2" style="cursor: pointer; display: inline-block;">
                <div class="images">
                    <img src="https://img.naukimg.com/logo_images/groups/v2/58550.gif">
                </div>
                <div class="text">
                    <h6>FIITJEE</h6>
                    <p>3.5 reviews</p>
                </div>
            </div>

            <div class="slide" id="d3" style="cursor: pointer; display: inline-block;">
                <div class="images">
                    <img src="https://img.naukimg.com/logo_images/groups/v2/1288.gif">
                </div>
                <div class="text">
                    <h6>Capgemini</h6>
                    <p>16.3k +reviews</p>
                </div>
            </div>
            <div class="slide" id="d4" style="cursor: pointer; display: inline-block;">
                <div class="images">
                    <img src="https://img.naukimg.com/logo_images/groups/v2/419316.gif">
                </div>
                <div class="text">
                    <h6>Software &amp;It</h6>
                    <p>204.5k + reviews</p>
                </div>
            </div>
            


        </div>
    </div>
</div>

<footer>
    <div class="footer-container">
        <!-- Company Info -->
        <div class="footer-section">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec accumsan ligula. Proin nec lacus at nunc.</p>
        </div>

        <!-- Quick Links -->
        <div class="footer-section">
            <h3>Quick Links</h3>
            <a href="#">Home</a><br>
            <a href="#">About</a><br>
            <a href="#">Services</a><br>
            <a href="#">Contact</a>
        </div>

        <!-- Contact Info -->
        <div class="footer-section">
            <h3>Contact Us</h3>
            <p>1234 Street Name, City, Country</p>
            <p>Email: infoexample.com</p>
            <p>Phone: +1 123 456 7890</p>
        </div>

        <!-- Social Media -->
        <div class="footer-section">
            <h3>Follow Us</h3>
            <div class="social-icons">
                <a href="#" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        &copy; 2024 Your Company Name. All rights reserved.
    </div>
</footer>
